	
/*p.my-justify-class { text-align: justify;}

/*colocar para assumir esse body*/
/*página cor*/

.input{
    margin: 0%;
    padding: 0%;
}

#loginzao{
    min-width: 280px;
    height: 5vh;
    border-radius: 50px;
    border: 2px #6f7e8a solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
    
}


#login{
    min-width: 280px;
    height: 5vh;
    border-radius: 50px;
    border: 2px #6f7e8a solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
    
}
#senha{
    min-width: 280px;
    height: 5vh;
    border-radius: 50px;
    border: 2px #6f7e8a solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
    
}

/*página cor*/
body{
    width: 100%;  
    height: 100vh;
    font-family: 'ubuntu';
    background: linear-gradient(-45deg, #f8dc5f, #ffbd57);
    
}


#form{
    position: relative;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    background: #fff;
    /*fazer boda do quadrado*/
    border-radius: 25px;
    padding: 75px;
    width: min-content;
    align-items: center;
    color: #2b344b;
    text-align: center;
}


.title{
    font-size: 2.2em;
    margin-bottom: 10%;
    /* padding: 10px;
    text-align: center; */
}

/* 
.input{
    min-width: 280px;
    border-radius: 50px;
    border: 2px #6f7e8a solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
}
 */
