body {
    font-family: "Ubuntu", sans-serif;
  }
  
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image:linear-gradient(to bottom ,#F8DC5F,#F6CC3A);
    overflow-x: hidden;
    padding-top: 20px;
  }


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
  }

.sidenav img {
    margin-right: 10px; 
    width: 30px; 
    height: 30px; 
    margin-top: 0%; 
}

.logo {
    height: 700px; 
    width: 700px; 
    margin: 0;
}

.linha {
    height: 1.6px;
    background-color: white;
    margin: 0 auto;
    width: 80% ;
}

.main {
    margin-left: 200px;
  }

#main {
    margin-left: 200px; 
    padding: 20px;
}

.sidenav a:hover {
    color: #f1f1f1;
    text-decoration: none;
  }

  /*Com essa regra, o menu ajusta seu padding e o tamanho da fonte dos links, tornando a navegação mais fácil e o layout mais adaptado à tela pequena.*/
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  .container {
     width: 80%;
     height: 80vh;
     display: flex;
     box-shadow: 5px 10px;
  }

  .form {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: ; */
    padding: 3rem;
  }

  .form-hearder {
   margin-bottom: 3rem;
   display: flex;
   justify-content: space-between;

  }

  .login-button{
    display: flex;
    align-items: center;
    transform: translate(-50%, -50%);

  }

  .login-button button{
    border: none;
    background-color: #F6CC3A;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }

  .login-button button:hove {
    background-color: #F8DC5F;
  }

  .login-button button a {
    text-decoration: nome;
    font-weight: 500;
    color: #f1f1f1;
  }

  .input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
   }

   .input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
  }

  .input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: nome;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #000;
  }

  .input-box input:hover {
    background-color: #eee;
  }

  h1{
    color: aqua;
    background-color: #ea1111;
  }





