/* body {
    font-family: "Ubuntu", sans-serif;
    width: 100;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
     
  } */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #ebeaea;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffdb49;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #ffbd57;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #ffdb49;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}
 
 /*até é a configuração do menu, depois é o formu*/
 /*&&&&&&&&&&&&&&&&&&&&&&&&*/  


.container {
  width: 80%;
  height: 80vh;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fde3a7d7;
  padding: 1rem;
}

.form-image img {
  width: 31rem;
}

.form {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 3rem;
}

.form-header {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.login-button {
  display: flex;
  align-items: center;
}

.login-button button {
  border: none;
  background-color: #6c63ff;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.login-button button:hover {
  background-color: #6b63fff1;
}

.login-button button a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

.form-header h1::after {
  content: '';
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: #6c63ff;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

.input-box input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  font-size: 0.8rem;
}

.input-box input:hover {
  background-color: #eeeeee75;
}

.input-box input:focus-visible {
  outline: 1px solid #6c63ff;
}

.input-box label,
.gender-title h6 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #000000c0;
}

.input-box input::placeholder {
  color: #000000be;
}

.gender-group {
  display: flex;
  justify-content: space-between;
  margin-top: 0.62rem;
  padding: 0 .5rem;
}

.gender-input {
  display: flex;
  align-items: center;
}

.gender-input input {
  margin-right: 0.35rem;
}

.gender-input label {
  font-size: 0.81rem;
  font-weight: 600;
  color: #000000c0;
}

.continue-button button {
  width: 100%;
  margin-top: 2.5rem;
  border: none;
  background-color: #6c63ff;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
}

.continue-button button:hover {
  background-color: #6b63fff1;
}

.continue-button button a {
  text-decoration: none;
  font-size: 0.93rem;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 1330px) {
  .form-image {
      display: none;
  }
  .container {
      width: 50%;
  }
  .form {
      width: 100%;
  }
}

@media screen and (max-width: 1064px) {
  .container {
      width: 90%;
      height: auto;
  }
  .input-group {
      flex-direction: column;
      z-index: 5;
      padding-right: 5rem;
      max-height: 10rem;
      overflow-y: scroll;
      flex-wrap: nowrap;
  }
  .gender-inputs {
      margin-top: 2rem;
  }
  .gender-group {
      flex-direction: column;
  }
  .gender-title h6 {
      margin: 0;
  }
  .gender-input {
      margin-top: 0.5rem;
  }
}