<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/agenda.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Agenda</title>
</head>
<body>
    <nav id="sidebar">
        <div id="sidebar_content">
            <div id="user">
                <img src="../imagens/logoBordaBrancatransparente.png" id="user_logo" alt="Logo">
                <!-- <img src="../public/imagens/logoBordaBrancatransparente.png" id="user_logo" alt="Logo"> -->
    
                <p id="user_infos">
                    <span class="item-description">
                        Passa Tempo
                    </span>
                </p>
            </div>
    
            <ul id="side_items">
                <li class="side-item active">
                    <a id="redirecionarHome">
                    <!-- <a href="home.html"> -->
                        <i class="fa-solid fa-house"></i>
                        <span class="item-description">
                            Home
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a id="redirecionarVoluntario">
                    <!-- <a href="voluntario.html"> -->
                        <i class="fa-solid fa-user"></i>
                        <span class="item-description">
                            Voluntários
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a id="redirecionarAgenda">
                    <!-- <a href="agenda.html"> -->
                        <i class="fa-regular fa-calendar-days"></i>
                        <span class="item-description">
                            Agenda
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a id="redirecionarEvento">
                    <!-- <a href="evento.html"> -->
                        <i class="fa-solid fa-file-pen"></i>
                        <span class="item-description">
                            Evento
                        </span>
                    </a>
                </li>
     
                <li class="side-item">
                    <a id="redirecionarEstatistica">
                    <!-- <a href="estatistica.html"> -->
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="item-description">
                            Gráficos
                        </span>
                    </a>
                </li>
            </ul>
    
            <button id="open_btn">
                <i id="open_btn_icon" class="fa-solid fa-chevron-right"></i>
            </button>
        </div>

        <div id="logout">
            <button id="logout_btn">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="item-description">
                    Logout
                </span>
            </button>
        </div>
    </nav>

</body>
<script>
    document.getElementById('redirecionarHome').addEventListener('click', function(){
        window.location.href = '/home'
    })
    document.getElementById('redirecionarVoluntario').addEventListener('click', function(){
        window.location.href = '/voluntario'
    })
    document.getElementById('redirecionarAgenda').addEventListener('click', function(){
        window.location.href = '/agenda'
    })
    document.getElementById('redirecionarEvento').addEventListener('click', function(){
        window.location.href = '/evento'
    })
    document.getElementById('redirecionarEstatistica').addEventListener('click', function(){
        window.location.href = '/estatistica'
    })
    document.getElementById('logout').addEventListener('click', function(){
            window.location.href = '/login'
        })
</script>
</html>