<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/estatistica.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/script/services/estatisticaService.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.2/lib/anime.min.js"></script>
    <title>Estatística</title>
</head>

<body>
    <nav id="sidebar">
        <div id="sidebar-content">
            <div id="user">
                <img src="../imagens/logoBordaBrancatransparente.png" id="user-logo" alt="Logo">
                <p id="user-infos">
                    <span class="item-description">
                        Passa Tempo
                    </span>
                </p>
            </div>

            <ul id="side-items">
                <li class="side-item active">
                    <a id="redirecionarHome">
                        <i class="fa-solid fa-house"></i>
                        <span class="item-description">
                            Home
                        </span>
                    </a>
                </li>

                <li class="side-item">
                    <a id="redirecionarVoluntario">
                        <i class="fa-solid fa-user"></i>
                        <span class="item-description">
                            Voluntários
                        </span>
                    </a>
                </li>

                <li class="side-item">
                    <a id="redirecionarAgenda">
                        <i class="fa-regular fa-calendar"></i>
                        <span class="item-description">
                            Agenda
                        </span>
                    </a>
                </li>

                <li class="side-item">
                    <a id="redirecionarEvento">
                        <i class="fa-solid fa-file-pen"></i>
                        <span class="item-description">
                            Evento
                        </span>
                    </a>
                </li>

                <li class="side-item">
                    <a id="redirecionarEstatistica">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="item-description">
                            Gráficos
                        </span>
                    </a>
                </li>
            </ul>

            <button id="open-btn">
                <i id="open-btn-icon" class="fa-solid fa-chevron-right"></i>
            </button>
        </div>

        <div id="logout">
            <button id="logout-btn">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="item-description">
                    Logout
                </span>
            </button>
        </div>

    </nav>

    <main>
        <div class="title-bg">
            <h1 class="title">
                Estatística de Eventos
            </h1>
        </div>
        <div class="content-bg">
            <div class="content"></div>
        </div>   
    </main>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <figure class="highcharts-figure">
    <div id="container"></div>
    
</figure>
                
</html>