<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/estatistica.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Estatística</title>
</head>

<body>
    <nav id="sidebar">
        <div id="sidebar-content">
            <div id="user">
                <img src="../imagens/logoBordaBrancatransparente.png" id="user-logo" alt="Logo">
                <p id="user-infos">
                    <span class="item-description">
                        Passa Tempo
                    </span>
                </p>
            </div>

            <ul id="side-items">
                <li class="side-item active">
                    <a id="redirecionarHome">
                        <i class="fa-solid fa-house"></i>
                        <span class="item-description">
                            Home
                        </span>
                    </a>
                </li>

                <li class="side-item">
                    <a id="redirecionarVoluntario">
                        <i class="fa-solid fa-user"></i>
                        <span class="item-description">
                            Voluntários
                        </span>
                    </a>
                </li>

                <li class="side-item">
                    <a id="redirecionarAgenda">
                        <i class="fa-regular fa-calendar-days"></i>
                        <span class="item-description">
                            Agenda
                        </span>
                    </a>
                </li>

                <li class="side-item">
                    <a id="redirecionarEvento">
                        <i class="fa-solid fa-file-pen"></i>
                        <span class="item-description">
                            Evento
                        </span>
                    </a>
                </li>

                <li class="side-item">
                    <a id="redirecionarEstatistica">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="item-description">
                            Gráficos
                        </span>
                    </a>
                </li>
            </ul>

            <button id="open-btn">
                <i id="open-btn-icon" class="fa-solid fa-chevron-right"></i>
            </button>
        </div>

        <div id="logout">
            <button id="logout-btn">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="item-description">
                    Logout
                </span>
            </button>
        </div>
    </nav>


    <main>
        <div class="title-bg">
            <h1 class="title">
                Estatística de Eventos
            </h1>
        </div>
        <div class="content-bg">
            <div class="content">

                <!-- filtros -->
                <div class="filter">
                    <div class="filter-option">
                        <p>
                            Cidade/Estado
                        </p>
                        <select name="cidade-estado">
                            <option value="Todos">Todos</option>
                            <!-- incluir um fetch(GET) para o restante -->
                        </select>
                    </div>
                    <div class="filter-option">
                        <p>
                            Categoria
                        </p>
                        <select name="categoria">
                            <option value="Todos">Todos</option>
                            <!-- incluir um fetch(GET) para o restante -->
                        </select>
                    </div>
                    <div class="filter-option">
                        <p>
                            Colaborador
                        </p>
                        <select name="colaborador">
                            <option value="Todos">Todos</option>
                            <!-- incluir um fetch(GET) para o restante -->
                        </select>
                    </div>
                </div>

                <!-- contadores -->
                <div class="count-bg">
                    <div class="count">
                        <div class="count-item">
                            <div id="count-value">
                                5
                            </div>
                            <p>
                                Quantidade de Eventos
                            </p>
                        </div>
                        <div class="count-item">
                            <div id="count-value">
                                12
                            </div>
                            <p>
                                Quantidade de Voluntarios
                            </p>
                        </div>
                        <div class="count-item">
                            <div id="count-price">
                                R$ 
                                <span id="count-value">
                                    200
                                </span>
                            </div>
                            <p>
                                Quantidade Arrecadada
                            </p>
                        </div>
                    </div>
                </div>

                <div class="wrapper">

                    <!-- gráfico de barras -->
                    <div class="graph-bg">
                        <p class="graph-title">
                            Arrecadação por Mês
                        </p>
                        <div class="graph-wrapper">
                            <p class="graph-qt">
                                Quantidade
                            </p>
                            <div class="graph">
                                 <!--lógica do gráfico -->
                            </div>
                        </div>
                    </div>

                    <!-- ranking -->
                    <div class="ranking-bg">
                        <div class="flex-container">
                            <p class="ranking-title">
                                Top Contribuidores
                            </p>
                            <div class="ranking">
                                <div class="colaborador-1 colaborador-grid">
                                    <div id="colaborador-image">
                                        <img src="/views/imagens/user.png" />
                                    </div>
                                    <p id="colaborador-name-1">
                                        Colaborador 1
                                    </p>
                                </div>
                                <div class="colaborador-2 colaborador-grid">
                                    <div id="colaborador-image">
                                        <img src="/views/imagens/user.png" />
                                    </div>
                                    <p id="colaborador-name-2">
                                        Colaborador 2
                                    </p>
                                </div>
                                <div class="colaborador-3 colaborador-grid">
                                    <div id="colaborador-image">
                                        <img src="/views/imagens/user.png" />
                                    </div>
                                    <p id="colaborador-name-3">
                                        Colaborador 3
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

<script>
    document.getElementById('redirecionarHome').addEventListener('click', function () {
        window.location.href = '/home'
    })
    document.getElementById('redirecionarVoluntario').addEventListener('click', function () {
        window.location.href = '/voluntario'
    })
    document.getElementById('redirecionarAgenda').addEventListener('click', function () {
        window.location.href = '/agenda'
    })
    document.getElementById('redirecionarEvento').addEventListener('click', function () {
        window.location.href = '/evento'
    })
    document.getElementById('redirecionarEstatistica').addEventListener('click', function () {
        window.location.href = '/estatistica'
    })
</script>

</html>