<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/evento.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Evento</title>
</head>
<body>
    <nav id="sidebar">
        <div id="sidebar_content">
            <div id="user">
                <img src="../imagens/logoBordaBrancatransparente.png" id="user_logo" alt="Logo">
    
                <p id="user_infos">
                    <span class="item-description">
                        Passa Tempo
                    </span>
                </p>
            </div>
    
            <ul id="side_items">
                <li class="side-item active">
                    <a id="redirecionarHome">
                        <i class="fa-solid fa-house"></i>
                        <span class="item-description">
                            Home
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a id="redirecionarVoluntario">
                        <i class="fa-solid fa-user"></i>
                        <span class="item-description">
                            Voluntários
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a id="redirecionarAgenda">
                        <i class="fa-regular fa-calendar-days"></i>
                        <span class="item-description">
                            Agenda
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a id="redirecionarEvento">
                        <i class="fa-solid fa-file-pen"></i>
                        <span class="item-description">
                            Evento
                        </span>
                    </a>
                </li>
     
                <li class="side-item">
                    <a id="redirecionarEstatistica">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="item-description">
                            Gráficos
                        </span>
                    </a>
                </li>
            </ul>
    
            <button id="open_btn">
                <i id="open_btn_icon" class="fa-solid fa-chevron-right"></i>
            </button>
        </div>

        <div id="logout">
            <button id="logout_btn">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="item-description">
                    Logout
                </span>
            </button>
        </div>
    </nav>


    <div class="form">
        <form action="#" method="POST">
            <div class="form-header">
                <div class="title">
                    <h1>Cadastrar novo Evento </h1>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <label for="name"> Categoria do Evento</label>
                        <input id="nome" type="text" name="text" placeholder="Categoria do evento" required>
                    </div>

                    <div class="input-box">
                        <label for="title">Nome do Evento</label>
                        <input id="title" type="text" nome="text" placeholder="Nome deste evento" required>
                   </div>

                    <div class="input-box">
                        <label for="city">Cidade</label>
                        <input id="city" type="text" nome="text" placeholder="informe a Cidade" required>
                    </div>

                    <div class="input-box">
                        <label for="hours">Evento começa</label>
                        <input id="hours" type="number" name="hora" placeholder="Inicio do evento" required>
                    </div>
                
                  <div class="input-box">
                        <label for="descricao">Descrição</label>
                        <input id="descricao" type="text" nome="text" placeholder="Descrição deste evento" required>
                    </div>
                </div>

            </div>

            <div id="btn">
                <button type="submit" id="cadastrarEvento">Cadastrar Evento</button>
            </div>
        </form>
    </div>
    
   
</body>

    <script>
        const btnCadastrarEvento = document.getElementById('cadastrarEvento')

        btnCadastrarEvento.addEventListener('click', function(event){
            event.preventDefault()
            const nomeEvento = document.getElementById('title').value
            const categoriaEvento = document.getElementById('nome').value
            const cidadeEvento = document.getElementById('city').value
            const horarioEvento = document.getElementById('hours').value
            const descricaoEvento = document.getElementById('descricao').value

            //Garante que todos o campos tenham que ser digitados
            if (!nomeEvento || !categoriaEvento || !cidadeEvento || !horarioEvento || !descricaoEvento) {
                alert("Todos os campos devem ser preenchidos!");
                return;
            }

            const dadosEvento = {
                nomeEvento,
                categoriaEvento,
                cidadeEvento,
                horarioEvento,
                descricaoEvento
            }

            fetch('/evento',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dadosEvento)
            })
            .then(response => response.json())
            .then(data =>{
                console.log('Evento Cadastrado com sucesso:', data)
                alert("Evento Cadastrado com sucesso")
            })
            .catch(error=> console.error('Erro ao cadastrar evento:', error))
        })

        document.getElementById('redirecionarHome').addEventListener('click', function(){
            window.location.href = '/home'
        })
        document.getElementById('redirecionarVoluntario').addEventListener('click', function(){
            window.location.href = '/voluntario'
        })
        document.getElementById('redirecionarAgenda').addEventListener('click', function(){
            window.location.href = '/agenda'
        })
        document.getElementById('redirecionarEvento').addEventListener('click', function(){
            window.location.href = '/evento'
        })
        document.getElementById('redirecionarEstatistica').addEventListener('click', function(){
            window.location.href = '/estatistica'
        })
    </script>
</html>
