
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../script/swiper-bundle.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../stylesheets/swiper-bundle.min.css">
     
</head>
<body>
    <nav id="sidebar">
        <div id="sidebar_content">
            <div id="user">
                <img src="../imagens/logoBordaBrancatransparente.png" id="user_logo" alt="Logo">
                
                <p id="user_infos">
                    <span class="item-description">
                        Passa Tempo
                    </span>
                </p>
            </div>
    
            <ul id="side_items">
                <li class="side-item active">
                    <a id="redirecionarHome">
                        <i class="fa-solid fa-house"></i>
                        <span class="item-description">
                            Home
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a id="redirecionarVoluntario">
                        <i class="fa-solid fa-user"></i>
                        <span class="item-description">
                            Voluntários
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a id="redirecionarAgenda">
                        <i class="fa-regular fa-calendar-days"></i>
                        <span class="item-description">
                            Agenda
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a id="redirecionarEvento">
                        <i class="fa-solid fa-file-pen"></i>
                        <span class="item-description">
                            Evento
                        </span>
                    </a>
                </li>
     
                <li class="side-item">
                    <a id="redirecionarEstatistica">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="item-description">
                            Gráficos
                        </span>
                    </a>
                </li>
            </ul>
    
            <button id="open_btn">
                <i id="open_btn_icon" class="fa-solid fa-chevron-right"></i>
            </button>
        </div>

        <div id="logout">
            <button id="logout_btn">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="item-description">
                    Logout
                </span>
            </button>
        </div>
    </nav>
<div id="centralizar"> 
    <section class="textos">
        <div class="container-text">
            <div class="card">
                <i class="fa-regular fa-clipboard"></i>
                <h3 class="titulo">Pessoal</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis.</p>
            </div>

            <div class="card">
                <i class="fa-regular fa-clipboard"></i>
                <h3 class="titulo">Comunidade Conectada</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis.</p>
            </div>

            <div class="card">
                <i class="fa-regular fa-clipboard"></i>
                <h3 class="titulo">Colaboração Efetiva</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis.</p>
            </div>
        </div>
    </section>
    


    <section class="depoimentos mySwiper">

        <div class="depoimentos-container swiper-wrapper">
        
            <div class="slide swiper-slide">
                <i class="bi bi-quote"></i>
        
                <p class="depoi-txt">
                    No príoximo event começará ás 14horas e seguiremos este cronograma. 
                    </p>

                    <div class="person">
                        <img src="../imagens/logoBordaBrancatransparente.png" alt="">
                        <div class="info-person">
                            <p class="name-person">Passa Tempo</p>
                    </div>
                </div>     
            </div> 
            
            <div class="slide swiper-slide">
                <i class="bi bi-quote"></i>
        
                <p class="depoi-txt">
                    No príoximo event começará ás 14horas e seguiremos este cronograma. 
                     </p>

                    <div class="person">
                    <img src="../imagens/logoBordaBrancatransparente.png" alt="">
                    <div class="info-person">
                        <p class="name-person">Passa Tempo</p>
                    </div>
                </div>     
            </div>             

            <div class="slide swiper-slide">
                <i class="bi bi-quote"></i>
        
                <p class="depoi-txt">
                    No príoximo event começará ás 14horas e seguiremos este cronograma. 
                    </p>

                    <div class="person">
                    <img src="../imagens/logoBordaBrancatransparente.png" alt="">
                    <div class="info-person">
                        <p class="name-person">Passa Tempo</p>
                    </div>
                </div>     
            </div> 

            <div class="slide swiper-slide">
                <i class="bi bi-quote"></i>
        
                <p class="depoi-txt">
                    No príoximo event começará ás 14horas e seguiremos este cronograma. 
                    </p>

                    <div class="person">
                    <img src="../imagens/logoBordaBrancatransparente.png" alt="">
                    <div class="info-person">
                        <p class="name-person">Passa Tempo</p>
                    </div>
                </div>     
            </div> 
         </div>

         <div class="swiper-button-next"></div>
         <div class="swiper-button-prev"></div>
         <div class="swiper-pagination"></div>
    </section>
    </div>

    <script src="../script/swiper-bundle.min.js"></script>
    <script src="../script/home.js"></script>
    <script src="../script/scri.js"></script>
</body>


<script>
    // async function checkAuth() {
    //     const token = localStorage.getItem('token');
    //     if (!token) {
    //         alert('Você não está autenticado!');
    //         window.location.href = '/login';
    //         return;
    //     }

    //     const response = await fetch('/home', {
    //         method: 'GET',
    //         headers: {
    //             'Authorization': 'Bearer ' + token,
    //             'Content-Type:': 'application/json'
    //         }
    //     });

    //     if (!response.ok) {
    //         alert('Sessão expirada ou inválida. Faça login novamente.');
    //         localStorage.removeItem('token');
    //         window.location.href = '/login';
    //     }
    // }

    // window.onload = checkAuth();

    document.getElementById('redirecionarHome').addEventListener('click', function(){
        window.location.href = '/home'
    })
    document.getElementById('redirecionarVoluntario').addEventListener('click', function(){
        window.location.href = '/voluntario'
    })
    document.getElementById('redirecionarAgenda').addEventListener('click', function(){
        window.location.href = '/agenda'
    })
    document.getElementById('redirecionarEvento').addEventListener('click', function(){
        window.location.href = '/evento'
    })
    document.getElementById('redirecionarEstatistica').addEventListener('click', function(){
        window.location.href = '/estatistica'
    })
    document.getElementById('logout').addEventListener('click', function(){
            window.location.href = '/login'
        })
</script>