<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/login.css">
    <script src="https://kit.fontawesome.com/2e5a204d23.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>

    <div id="form">
        <form id="loginForm">
            <h2 class="title"> Login</h2>

            <label for="login">Login</label>
            <div class="input">
                <i class="fa-solid fa-user"></i>
                <input id="user" name="user" placeholder="Login" type="text" required>
            </div>

            <label for="senha">Senha</label>
            <div class="input">
                <i class="fa-solid fa-lock"></i>
                <input id="pwd" name="pwd" placeholder="Password" type="password" required>
            </div>

            <div id="btn">
                <button type="submit" id="botaoLogin">Login</button>
            </div>
        </form>
    </div>
    
</body>

<script>
    document.getElementById('loginForm').addEventListener('submit', async function(event) {
        event.preventDefault(); // Previne o envio padrão do formulário

        const user = document.getElementById('user').value;
        const pwd = document.getElementById('pwd').value;

        const dadosLogin = { user, pwd };

        try {
            const response = await fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dadosLogin)
            });

            if (!response.ok) {
                throw new Error('Credenciais inválidas');
            }

            const data = await response.json();

            if (data.token) {
                localStorage.setItem('token', data.token); // Armazena o token no localStorage
                window.location.href = data.redirectUrl; // Redireciona para a URL retornada
                console.log(localStorage.getItem('token'))
            }
        } catch (error) {
            console.error('Erro ao tentar logar:', error);
            alert('Credenciais inválidas. Por favor, tente novamente.');
        }
    });
</script>

</html>
