<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/voluntario.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Voluntario</title>
</head>
<body>
    <nav id="sidebar">
        <div id="sidebar_content">
            <div id="user">
                <img src="../imagens/logoBordaBrancatransparente.png" id="user_logo" alt="Logo">
                <!-- <img src="../public/imagens/logoBordaBrancatransparente.png" id="user_logo" alt="Logo"> -->
    
                <p id="user_infos">
                    <span class="item-description">
                        Passa Tempo
                    </span>
                </p>
            </div>
    
            <ul id="side_items">
                <li class="side-item active">
                    <a href="home.html">
                        <i class="fa-solid fa-house"></i>
                        <span class="item-description">
                            Home
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a href="voluntario.html">
                        <i class="fa-solid fa-user"></i>
                        <span class="item-description">
                            Voluntários
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a href="agenda.html">
                        <i class="fa-regular fa-calendar-days"></i>
                        <span class="item-description">
                            Agenda
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a href="evento.html">
                        <i class="fa-solid fa-file-pen"></i>
                        <span class="item-description">
                            Envento
                        </span>
                    </a>
                </li>
     
                <li class="side-item">
                    <a href="estatistica.html">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="item-description">
                            Gráficos
                        </span>
                    </a>
                </li>
            </ul>
    
            <button id="open_btn">
                <i id="open_btn_icon" class="fa-solid fa-chevron-right"></i>
            </button>
        </div>

        <div id="logout">
            <button id="logout_btn">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="item-description">
                    Logout
                </span>
            </button>
        </div>
    </nav>
 
    <!-- <div  class="form">
        
        <form action="#">
            
            <div class="form-header">
                <div class="title">
                    
                </div>
                <div class="input-group">
                    <

                    <div class="input-box">
                        <label for="email">Email</label>
                        <input id="email type="email" nome="email" placeholder="Digete seu E-mail" required>
                    </div>
                
                  <div class="input-box">
                        <label for="number">Telefone</label>
                        <input id="number" type="tel" nome="number" placeholder="(xx) xxxx-xxxx" required>
                    </div>
                
                    <div class="input-box">
                        <label for="state">Estado</label>
                        <input id="state" type="state" nome="texte" placeholder="Digite seu Estado" required>
                     </div>
                
                    
                    <div class="input-box">
                         <label for="city">Cidade</label>
                        <input id="city" type="city" nome="texte" placeholder="Digite sua Cidade">
                    </div>

                    <div class="input-box">
                        <label for="title">Envento</label>
                       <input id="title" type="title" nome="texte" placeholder="Envento que participará" required>
                   </div>

                   <div class="input-box">
                    <label for="title">Projeto</label>
                   <input id="title" type="title" nome="texte" placeholder="Projeto que participará" required>
                    </div>
                </div>
            </div>
            
            <div class="container-button">
                <button><a href="#"></a></button>
            </div>
        </form>
    </div> -->


    <div id="form">
        <form action="#" method="POST">
            <h2 class="title"> Cadastre-se</h2>
            
            <label for="full name"> Nome Completo</label>
            <div class="input">
                <input id="fullnome" type="texte" nome="fullname" placeholder="Digite seu nome completo" required>
            </div>


            <label for="email">Email</label>
            <div class="input">   
                <input id="email" type="email" nome="email" placeholder="Digite seu E-mail" required>
            </div>
        
        
            <label for="number">Telefone</label>
            <div class="input">
                <input id="number" type="tel" nome="number" placeholder="(xx) xxxx-xxxx" required>
            </div>
        

            <label for="state">Estado</label>
            <div class="input">
                <input id="state" type="state" nome="texte" placeholder="Digite seu Estado" required>
             </div>
        
            
            <label for="city">Cidade</label>
            <div class="input">
                <input id="city" type="city" nome="texte" placeholder="Digite sua Cidade">
            </div>


            <label for="title">Evento</label>
            <div class="input">
               <input id="evento" type="title" nome="texte" placeholder="Envento que participará" required>
            </div>


           <label for="title">Projeto</label>
           <div class="input">
                <input id="projeto" type="title" nome="texte" placeholder="Projeto que participará" required>
           </div>

            <div id="btn">
                <button type="button" id="cadastrarVoluntario">Cadastre-se</button>
            </div>
</body>
    <script JavaS="JavaS/script.js"></script>

    <script>
        const btnCadastrarVoluntario = document.getElementById('cadastrarVoluntario')

        btnCadastrarVoluntario.addEventListener('click', function(){
            const nomeVoluntario = document.getElementById('fullnome').value
            const emailVoluntario = document.getElementById('email').value
            const telefoneVoluntario = document.getElementById('number').value
            const estadoVoluntario = document.getElementById('state').value
            const cidadeVoluntario = document.getElementById('city').value
            const eventoVoluntario = document.getElementById('evento').value
            const projetoVoluntario = document.getElementById('projeto').value

            const dadosVoluntario ={
                nomeVoluntario,
                emailVoluntario,
                telefoneVoluntario,
                estadoVoluntario,
                cidadeVoluntario,
                eventoVoluntario,
                projetoVoluntario
            }

            fetch('/voluntario',{
                method: 'POST',
                headers:  {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dadosVoluntario)
            })
            .then(response => response.json())
            .then(data =>{
                console.log('Voluntario Cadastrado com sucesso:', data)
            })
            .catch(error=> console.log('Erro ao cadastrar voluntario:', error))
        })
    </script>
</html>