<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/voluntario.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Voluntario</title>
</head>
<body>
    <nav id="sidebar">
        <div id="sidebar_content">
            <div id="user">
                <img src="../imagens/logoBordaBrancatransparente.png" id="user_logo" alt="Logo">
                <!-- <img src="../public/imagens/logoBordaBrancatransparente.png" id="user_logo" alt="Logo"> -->
    
                <p id="user_infos">
                    <span class="item-description">
                        Passa Tempo
                    </span>
                </p>
            </div>
    
            <ul id="side_items">
                <li class="side-item active">
                    <a id="redirecionarHome">
                    <!-- <a href="home.html"> -->
                        <i class="fa-solid fa-house"></i>
                        <span class="item-description">
                            Home
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a id="redirecionarVoluntario">
                    <!-- <a href="voluntario.html"> -->
                        <i class="fa-solid fa-user"></i>
                        <span class="item-description">
                            Voluntários
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a id="redirecionarAgenda">
                    <!-- <a href="agenda.html"> -->
                        <i class="fa-regular fa-calendar-days"></i>
                        <span class="item-description">
                            Agenda
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a id="redirecionarEvento">
                    <!-- <a href="evento.html"> -->
                        <i class="fa-solid fa-file-pen"></i>
                        <span class="item-description">
                            Evento
                        </span>
                    </a>
                </li>
     
                <li class="side-item">
                    <a id="redirecionarEstatistica">
                    <!-- <a href="estatistica.html"> -->
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="item-description">
                            Gráficos
                        </span>
                    </a>
                </li>
            </ul>
    
            <button id="open_btn">
                <i id="open_btn_icon" class="fa-solid fa-chevron-right"></i>
            </button>
        </div>

        <div id="logout">
            <button id="logout_btn">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="item-description">
                    Logout
                </span>
            </button>
        </div>
    </nav>
 
    <div  class="form">
        
        <form action="#" method="POST">
            
            <div class="form-header">
                <div class="title">
                    <h2 class="title"> Cadastre-se</h2>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <label for="fullnome">Nome</label>
                        <input id="fullnome" type="fullnome" nome="fullnome" placeholder="Digite seu Nome" required>
                    </div>
                
                    <div class="input-box">
                        <label for="email">Email</label>
                        <input id="email" type="email" nome="email" placeholder="Digite seu E-mail" required>
                    </div>
                
                  <div class="input-box">
                        <label for="number">Telefone</label>
                        <input id="number" type="tel" nome="number" placeholder="(xx) xxxx-xxxx" required>
                    </div>
                
                    <div class="input-box">
                        <label for="state">Estado</label>
                        <input id="state" type="state" nome="texte" placeholder="Digite seu Estado" required>
                     </div>
                
                    
                    <div class="input-box">
                         <label for="city">Cidade</label>
                        <input id="city" type="city" nome="texte" placeholder="Digite sua Cidade">
                    </div>

                    <div class="input-box">
                        <label for="title">Evento</label>
                       <input id="evento" type="title" nome="texte" placeholder="Evento que participará" required>
                   </div>

                   <div class="input-box">
                    <label for="title">Projeto</label>
                   <input id="projeto" type="title" nome="texte" placeholder="Projeto que participará" required>
                    </div>
                </div>
            </div>
            
            <div id="btn">
                <button type="button" id="cadastrarVoluntario">Cadastre-se</button>
            </div>
        </form>
    </div>

    <script src="script.js"></script>
</body>
    

    <script>
        const btnCadastrarVoluntario = document.getElementById('cadastrarVoluntario')

        btnCadastrarVoluntario.addEventListener('click', function(event){
            event.preventDefault()
            const nomeVoluntario = document.getElementById('fullnome').value
            const emailVoluntario = document.getElementById('email').value
            const telefoneVoluntario = document.getElementById('number').value
            const estadoVoluntario = document.getElementById('state').value
            const cidadeVoluntario = document.getElementById('city').value
            const eventoVoluntario = document.getElementById('evento').value
            const projetoVoluntario = document.getElementById('projeto').value

            //Garante que todos o campos tenham que ser digitados
            if (!nomeVoluntario || !emailVoluntario || !telefoneVoluntario || !estadoVoluntario || !cidadeVoluntario || !eventoVoluntario || !projetoVoluntario) {
                alert("Todos os campos devem ser preenchidos!");
                return;
            }

            const dadosVoluntario ={
                nomeVoluntario,
                emailVoluntario,
                telefoneVoluntario,
                estadoVoluntario,
                cidadeVoluntario,
                eventoVoluntario,
                projetoVoluntario
            }

            fetch('/voluntario',{
                method: 'POST',
                headers:  {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dadosVoluntario)
            })
            .then(response => response.json())
            .then(data =>{
                console.log('Voluntario Cadastrado com sucesso:', data)
                alert("Evento Cadastrado com Sucesso")
            })
            .catch(error=> console.log('Erro ao cadastrar voluntario:', error))
        })

        document.getElementById('redirecionarHome').addEventListener('click', function(){
            window.location.href = '/home'
        })
        document.getElementById('redirecionarVoluntario').addEventListener('click', function(){
            window.location.href = '/voluntario'
        })
        document.getElementById('redirecionarAgenda').addEventListener('click', function(){
            window.location.href = '/agenda'
        })
        document.getElementById('redirecionarEvento').addEventListener('click', function(){
            window.location.href = '/evento'
        })
        document.getElementById('redirecionarEstatistica').addEventListener('click', function(){
            window.location.href = '/estatistica'
        })
        document.getElementById('logout').addEventListener('click', function(){
            window.location.href = '/login'
        })
    </script>
</html>